<div class="footer">
    <div class="footer-links">
      <a href="https://github.com/paulomielmiczuk/revenda_de_ingressos" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.moneyreport.com.br/wp-content/uploads/2022/05/alexandre-de-moraes-1024x682.jpg" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.lewagon.com" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer was made with the encouragement of Dudu Piccin
    </div>
</div>
