<div class="bg-white rounded p-4 shadow-sm">
    <h6><strong><%= @event.title %></strong></h6>
  <hr>

  <%= simple_form_for [@event, @order] do |form| %>

    <%= form.hidden_field :event_id, value: @event.id %>
    <%# form.hidden_field :user_id, value: @order.user.id %>

    <%= form.submit 'Fazer Pedido', class: 'btn btn-primary' %>
  <% end %>
</div>
