    <% @event.ticket_types.each do |ticket_type| %>
      <div class="form-group">
        <%= f.input "ticket_types[#{ticket_type.id}]",
                    label: "#{ticket_type.ticket_type} - (Preço: #{humanized_money_with_symbol(ticket_type.price_cents / 10)})",
                    input_html: { value: 0, min: 0, step: 1, class: 'form-control' },
                    label_html: { class: 'form-label' } %>
      </div>
    <% end %>

    <%= f.hidden_field :event_id, value: @event.id %>
