<div class="bg-white rounded p-4 shadow-sm">
  <%= simple_form_for([@event, @ticket]) do |f| %>
    <%= f.input :ticket_type, collection: [['Inteira', 'inteira'], ['Meia', 'meia']], label: "Ticket Type", input_html: { class: "form-control" }, include_blank: false %>
    <%= f.button :submit, "Sell Tickets", class: "btn btn-primary" %>
  <% end %>
</div>
