<h2>Upload your tickets</h2>

<%= simple_form_for :tickets, url: update_images_tickets_path, method: :patch, html: { multipart: true } do |f| %>
  <% @tickets.each do |ticket| %>
    <div class="ticket">
      <%= f.simple_fields_for :tickets, ticket do |ticket_form| %>
        <div class="form-group">
          <%= ticket_form.input :image, as: :file, label: "Upload image for Ticket #{ticket.ticket_type}", input_html: { accept: 'image/*' } %>
        </div>
      <% end %>
    </div>
    <hr>
  <% end %>

  <%= f.submit 'Upload Images', class: 'btn btn-primary' %>
<% end %>
