<div class="container">
  <h2 class="mb-4">Envie seus tickets</h2>

  <%= simple_form_for :tickets, url: update_images_tickets_path, method: :patch, html: { multipart: true, class: 'needs-validation', novalidate: true } do |f| %>
    <div class="tickets-container">
      <% @tickets.each do |ticket| %>
        <%= f.simple_fields_for :tickets, ticket do |ticket_form| %>
          <div class='order-ticket'>
            <div class="order-ticket-infos">
              <div class="form-group">
                <%= ticket_form.input :image, as: :file, label: "#{ticket.ticket_type.capitalize}", input_html: { accept: 'image/*', class: 'form-control' } %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="mt-4">
      <%= f.submit 'Enviar arquivos', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
