<div class="container" data-controller="selling-button">
  <h1 class='mb-3'>Tickets</h1>

  <div class="tickets-container">
    <% if @tickets.present? %>
      <%= render @tickets %>
    <% else %>
      <p>No tickets available.</p>
    <% end %>
  </div>
</div>
