<div class='d-flex justify-content-between'>
<div>
  <h1>My tickets</h1>
</div>
</div>

<div class="flexbox">
  <% if @tickets.any? %>
    <% @tickets.each do |ticket| %>
      <div class="card-trip">
        <div class="card-trip-infos">
          <div>
            <h3><%= ticket.event.title %></h3>
            <p><%= ticket.event.date %></p>
            <p><%= ticket.event.location %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No tickets found.</p>
  <% end %>
</div>

<div class="text-center mt-4">
  <%= link_to 'All events', events_path, class: 'btn btn-outline-primary rounded' %>
</div>
