.forum-card {
  background-color: white;
  border-radius: 0px;
  padding: 16px 16px 4px 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.forum-user {
  font-weight: 600;
  margin-bottom: 0px;
}

.forum-text {
  margin: 0 0;
}

.forum-comment {
  margin-left: 35px;
}

.delete-comment {
  margin-left: 8px;
  text-decoration: none;
  font-size: 10px;
}

.forum-input {
  width: 95%;
  height: 31px;
  margin-left: 35px;
  margin-bottom: 0;
  flex: 1;
}

.forum-form {
  margin-bottom: 0;
}
