.scrollable-container {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

.grid {
  display: inline-block;

  width: calc(277px * 5 + 30px * 4);
}

.grid-item {
  width: 277px;
  margin-bottom: 30px;
  margin-right: 30px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.grid-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

// .scrollable-container {
//   overflow-x: auto;
//   white-space: nowrap;
//   width: 100%;
//   position: relative;
// }

// .grid {
//   display: flex;
//   width: calc(277px * 6 + 30px * 5);
//   transition: transform 0.3s ease;
// }

// .grid-item {
//   width: 277px;
//   margin-bottom: 30px;
//   margin-right: 30px;
//   background-color: white;
//   border-radius: 10px;
//   overflow: hidden;
//   box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
//   display: inline-block; 
// }

// .grid-item img {
//   width: 100%;
//   height: auto;
//   object-fit: cover;
// }
