.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #333;
  color: #fff;
  z-index: 1000;
}

body {
  margin-top: 100px; /* Pode ser ajustado conforme necessário */
}

.container {
  margin-top: 100px; /* Pode ser ajustado conforme necessário */
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.input-group {
  width: auto; /* Ajusta a largura conforme necessário */
  margin: 0 auto; /* Centraliza horizontalmente */
}

.my_events-btn {
  width: 150px;
  border-radius: 20px;
  background: rgb(0, 0, 0);
  border: 1px solid #000000;
  color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.my_events-btn:hover {
  background-color: #FF7D26;
  border: 1px solid #FF7D26;
  color: #000000;
}
