.tickets-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-ticket {
  overflow: hidden;
  width: 300px;
  height: 180px;
  background: white;
  display: flex;
  align-items: center;
  box-shadow: 0 15px 15px -14px rgba(0,0,0,0.2);
  // margin-bottom: 20px;
  position: relative;
}

.cut-left {
  position: absolute;
  width: 30px;
  height: 60px;
  background: #f4f4f4;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 0 0 rgba(0,0,0,0.2),
  inset -5px 2px 6px rgba(0,0,0,0.2);
}

.cut-right {
  position: absolute;
  right: 0;
  flex-grow: 1;
  width: 30px;
  height: 60px;
  background: #f4f4f4;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 0 0 rgba(0,0,0,0.2),
  inset 5px 2px 6px rgba(0,0,0,0.2);
}

.card-ticket img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-ticket h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-ticket p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-ticket .card-ticket-infos {
  padding: 16px;
}
